Repository nidza07/PlayPalace11: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-packet-schema, check-locales, uv-ruff-critical, packet-schema-sync

.pre-commit-config.yaml:

ci:
  skip: []
  autoupdate_schedule: quarterly

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
        name: uv lock (server)
        files: ^server/pyproject\.toml$
        args: [--project, server]
      - id: uv-lock
        name: uv lock (desktop client)
        files: ^clients/desktop/pyproject\.toml$
        args: [--project, clients/desktop]

  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.4.0
    hooks:
      - id: sync-with-uv
        name: sync-with-uv (server)
        args: [--uv-lock, server/uv.lock]
      - id: sync-with-uv
        name: sync-with-uv (client)
        args: [--uv-lock, client/uv.lock]

  - repo: local
    hooks:
      - id: regen-packet-schema
        name: Regenerate packet schemas (uv run)
        entry: python scripts/hooks/regen_packet_schema.py
        language: python
        pass_filenames: false
        files: ^server/network/packet_models\.py$
      - id: check-locales
        name: Locale completeness check
        entry: python server/tools/check_locales.py
        language: python
        pass_filenames: false
        files: ^server/locales/.*\.ftl$
      - id: uv-ruff-critical
        name: Ruff (E9,F63,F7 via uvx)
        entry: python scripts/hooks/run_ruff.py
        language: python
        types: [python]
        pass_filenames: false
      - id: packet-schema-sync
        name: Packet schema parity check
        entry: python scripts/hooks/check_packet_schema_sync.py
        language: python
        pass_filenames: false
        files: ^(server/packet_schema\.json|clients/desktop/packet_schema\.json)
      - id: hadolint-containerfiles
        name: Hadolint (Containerfiles via podman)
        entry: python scripts/hooks/run_hadolint.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: bandit-security
        name: Bandit security scan (manual)
        entry: python scripts/hooks/run_bandit.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: xenon-complexity
        name: Xenon complexity budget (manual)
        entry: python scripts/hooks/run_xenon.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: vulture-deadcode
        name: Vulture dead code scan (manual)
        entry: python scripts/hooks/run_vulture.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-vulnerability-scan
        name: Trivy fs scan (manual)
        entry: python scripts/hooks/run_trivy_vuln.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-sbom
        name: Trivy SBOM (manual)
        entry: python scripts/hooks/run_trivy_sbom.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-server
        name: Podman server image smoke test
        entry: python scripts/hooks/podman_smoke_server.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-client
        name: Podman client image smoke test
        entry: python scripts/hooks/podman_smoke_client.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]

Locale
  server/locales/sr/snakesandladders.ftl
Due: check-locales

Fix import
  server/games/nine/game.py
Due: uv-ruff-critical

feat: packaging installers + Windows MSI (single-file, feature selection)
  clients/desktop/build.ps1
  packaging/installers/windows/README.md
  packaging/installers/windows/generate_self_signed.ps1
  packaging/installers/windows/wix/PlayPalace.wixproj
  packaging/installers/windows/wix/PlayPalace.wxs
  server/build.ps1
Due: none

Normalize whitespace in snakes and ladders files
  server/documents/crazyeights_rules/en.md
  server/documents/leftrightcenter_rules/en.md
  server/games/__init__.py
  server/games/snakesandladders/game.py
  server/tests/test_config_paths.py
  server/tests/test_snakesandladders.py
Due: uv-ruff-critical

Fix win/lose notifications, remove game start message, add tests
  server/games/nine/game.py
  server/locales/en/nine.ftl
  server/locales/sr/nine.ftl
  server/tests/test_nine.py
Due: check-locales, uv-ruff-critical

Typo fix
  server/locales/sr/snakesandladders.ftl
Due: check-locales

Cover refresh session client metadata
  server/tests/test_packet_schemas.py
  server/tests/test_server_authorization.py
Due: uv-ruff-critical

Change S to C, add E for hand counts
  server/games/nine/game.py
  server/locales/en/nine.ftl
Due: check-locales, uv-ruff-critical

Updated SR translation
  server/locales/sr/nine.ftl
Due: check-locales

Maybe actually change keybinds this time
  server/games/nine/game.py
Due: uv-ruff-critical

Improve Farkle bot strategy heuristics
  server/games/farkle/bot.py
  server/games/farkle/game.py
  server/tests/test_farkle.py
Due: uv-ruff-critical

Farkle rules updates
  server/documents/farkle_rules/en.md
Due: none

SR updates
  server/locales/sr/farkle.ftl
Due: check-locales

Fix tests
  server/tests/test_nine.py
Due: uv-ruff-critical

Add Sorry classic implementation plan
  docs/plans/2026-02-19-sorry-classic-implementation-plan.md
Due: none

Fix desktop auth and localization warmup behavior
  clients/desktop/network_manager.py
  clients/desktop/tests/test_network_manager.py
  clients/desktop/ui/main_window.py
  server/core/server.py
  server/locales/ar/main.ftl
  server/locales/cs/main.ftl
  server/locales/de/main.ftl
  server/locales/en/main.ftl
  server/locales/es/main.ftl
  server/locales/fa/main.ftl
  server/locales/fr/main.ftl
  server/locales/hi/main.ftl
  server/locales/hr/main.ftl
  server/locales/hu/main.ftl
  server/locales/id/main.ftl
  server/locales/it/main.ftl
  server/locales/ja/main.ftl
  server/locales/ko/main.ftl
  server/locales/mn/main.ftl
  server/locales/nl/main.ftl
  server/locales/pl/main.ftl
  server/locales/pt/main.ftl
  server/locales/ro/main.ftl
  server/locales/ru/main.ftl
  server/locales/sk/main.ftl
  server/locales/sl/main.ftl
  server/locales/sv/main.ftl
  server/locales/th/main.ftl
  server/locales/tr/main.ftl
  server/locales/uk/main.ftl
  server/locales/vi/main.ftl
  server/locales/zh/main.ftl
  server/locales/zu/main.ftl
  server/tests/test_server_core_misc.py
  server/tests/test_server_core_utils.py
  server/tests/test_server_options_menus.py
Due: check-locales, uv-ruff-critical

Fix dice values key behavior and Yahtzee action ordering
  server/game_utils/dice_game_mixin.py
  server/games/yahtzee/game.py
  server/tests/test_dice_action_id.py
  server/tests/test_yahtzee.py
Due: uv-ruff-critical

Fix no reroll if 0 dice selected to reroll in dice games, only read new dice rolled
  server/games/midnight/game.py
  server/games/threes/game.py
  server/games/yahtzee/game.py
  server/tests/test_midnight.py
  server/tests/test_threes.py
  server/tests/test_yahtzee.py
Due: uv-ruff-critical

Fixed bug in rolling balls with min take and max take options not working. This also caused bots to freeze.
  server/games/rollingballs/game.py
  server/tests/test_rollingballs.py
Due: uv-ruff-critical

SR updates
  server/locales/sr/main.ftl
  server/locales/sr/milebymile.ftl
  server/locales/sr/rollingballs.ftl
Due: check-locales

Add Sorry profiles design document
  docs/plans/2026-02-19-sorry-profiles-design.md
Due: none

Reorganized the docs/design folder by splitting the plans folder into games and plans. Also moved brainstorming out of plans.
  docs/design/brainstorm/chat_buffer_notes.md
  docs/design/brainstorm/mbm_features.txt
  docs/design/brainstorm/nested_menu_prompt.txt
  docs/design/brainstorm/turn_system.txt
  docs/design/games/crazyeights.md
  docs/design/games/ludo.md
  docs/design/games/sorry-classic-design.md
  docs/design/games/sorry-classic-implementation-plan.md
  docs/design/games/sorry-profiles-design.md
  docs/design/games/sorry-profiles-implementation-plan.md
Due: none

Removed elimination message and player.alive variable from metal pipe game.
  server/games/metalpipe/game.py
  server/locales/en/metalpipe.ftl
Due: check-locales, uv-ruff-critical

SR updates
  server/locales/sr/games.ftl
  server/locales/sr/metalpipe.ftl
  server/locales/sr/rollingballs.ftl
  server/locales/sr/sorry.ftl
Due: check-locales

rolling balls bots no longer cheat
  server/games/rollingballs/game.py
  server/tests/test_rollingballs.py
Due: uv-ruff-critical

fix popup bug and changes rolling balls message
  server/game_utils/menu_management_mixin.py
  server/locales/en/rollingballs.ftl
Due: check-locales, uv-ruff-critical

Updated games.ftl English locale with basic colors and shapes.
  server/locales/en/games.ftl
Due: check-locales

Add Monopoly Free Parking jackpot preset behavior
  server/games/monopoly/game.py
  server/locales/en/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/tests/test_monopoly.py
Due: check-locales, uv-ruff-critical

Implement voice transfer confirmation flow
  server/games/monopoly/game.py
  server/locales/en/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/tests/test_monopoly_voice_banking.py
Due: check-locales, uv-ruff-critical

Add Monopoly Wave 2 classic breadth implementation plan
  docs/plans/2026-02-26-monopoly-wave2-classic-breadth-implementation.md
Due: none

Add Wave 2 classic board profiles
  server/games/monopoly/board_profile.py
  server/tests/test_monopoly_wave2_board_profile.py
Due: uv-ruff-critical

Add Wave 2 board rule-pack stubs
  server/games/monopoly/board_rules/__init__.py
  server/games/monopoly/board_rules/animal_crossing.py
  server/games/monopoly/board_rules/barbie.py
  server/games/monopoly/board_rules/disney_animation.py
  server/games/monopoly/board_rules/disney_lightyear.py
  server/games/monopoly/board_rules/disney_lion_king.py
  server/games/monopoly/board_rules/disney_mickey_friends.py
  server/games/monopoly/board_rules/disney_princesses.py
  server/games/monopoly/board_rules/disney_villains.py
  server/games/monopoly/board_rules/fortnite.py
  server/games/monopoly/board_rules/harry_potter.py
  server/games/monopoly/board_rules/jurassic_park.py
  server/games/monopoly/board_rules/lord_of_the_rings.py
  server/games/monopoly/board_rules/marvel_80_years.py
  server/games/monopoly/board_rules/marvel_avengers.py
  server/games/monopoly/board_rules/marvel_black_panther_wf.py
  server/games/monopoly/board_rules/marvel_deadpool.py
  server/games/monopoly/board_rules/marvel_spider_man.py
  server/games/monopoly/board_rules/marvel_super_villains.py
  server/games/monopoly/board_rules/star_wars_40th.py
  server/games/monopoly/board_rules/star_wars_boba_fett.py
  server/games/monopoly/board_rules/star_wars_complete_saga.py
  server/games/monopoly/board_rules/star_wars_light_side.py
  server/games/monopoly/board_rules/star_wars_mandalorian.py
  server/games/monopoly/board_rules/star_wars_the_child.py
  server/games/monopoly/board_rules/stranger_things.py
  server/tests/test_monopoly_wave2_rule_pack_modules.py
Due: uv-ruff-critical

Add Wave 2 board startup integration matrix
  server/games/monopoly/board_profile.py
  server/games/monopoly/game.py
  server/tests/test_monopoly_wave2_boards.py
Due: uv-ruff-critical

Add Wave 3 Top 25 classic board source
  docs/plans/2026-02-26-monopoly-wave3-top25-classic.md
Due: none

Add failing collectors capability contract tests
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_mario_rule_packs.py
Due: uv-ruff-critical

Implement junior Super Mario Time Out manual rules
  server/games/monopoly/game.py
  server/tests/test_monopoly_junior_super_mario_manual.py
Due: uv-ruff-critical

Add special boards parity implementation plan
  docs/plans/2026-02-26-monopoly-special-boards-parity-implementation.md
Due: none

Add global hardware sound-emulation framework
  server/games/monopoly/game.py
  server/games/monopoly/hardware_emulation.py
  server/tests/test_monopoly_hardware_emulation.py
Due: uv-ruff-critical

Add special board anchor index artifacts
  docs/plans/2026-02-26-monopoly-special-boards-parity-matrix.md
  server/games/monopoly/catalog/special_board_anchor_index.json
  server/tests/test_monopoly_special_board_anchor_index.py
Due: uv-ruff-critical

Promote first Star Wars special boards to board-specific card behavior
  server/games/monopoly/board_parity.py
  server/games/monopoly/board_rules/star_wars_complete_saga.py
  server/games/monopoly/board_rules/star_wars_mandalorian.py
  server/games/monopoly/board_rules_registry.py
  server/games/monopoly/game.py
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_wave2_rule_pack_modules.py
  server/tests/test_monopoly_wave_special_cards_star_wars.py
Due: uv-ruff-critical
