Repository nidza07/PlayPalace11: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-packet-schema, check-locales, uv-ruff-critical, packet-schema-sync

.pre-commit-config.yaml:

ci:
  skip: []
  autoupdate_schedule: quarterly

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
        name: uv lock (server)
        files: ^server/pyproject\.toml$
        args: [--project, server]
      - id: uv-lock
        name: uv lock (desktop client)
        files: ^clients/desktop/pyproject\.toml$
        args: [--project, clients/desktop]

  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.4.0
    hooks:
      - id: sync-with-uv
        name: sync-with-uv (server)
        args: [--uv-lock, server/uv.lock]
      - id: sync-with-uv
        name: sync-with-uv (client)
        args: [--uv-lock, client/uv.lock]

  - repo: local
    hooks:
      - id: regen-packet-schema
        name: Regenerate packet schemas (uv run)
        entry: python scripts/hooks/regen_packet_schema.py
        language: python
        pass_filenames: false
        files: ^server/network/packet_models\.py$
      - id: check-locales
        name: Locale completeness check
        entry: python server/tools/check_locales.py
        language: python
        pass_filenames: false
        files: ^server/locales/.*\.ftl$
      - id: uv-ruff-critical
        name: Ruff (E9,F63,F7 via uvx)
        entry: python scripts/hooks/run_ruff.py
        language: python
        types: [python]
        pass_filenames: false
      - id: packet-schema-sync
        name: Packet schema parity check
        entry: python scripts/hooks/check_packet_schema_sync.py
        language: python
        pass_filenames: false
        files: ^(server/packet_schema\.json|clients/desktop/packet_schema\.json)
      - id: hadolint-containerfiles
        name: Hadolint (Containerfiles via podman)
        entry: python scripts/hooks/run_hadolint.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: bandit-security
        name: Bandit security scan (manual)
        entry: python scripts/hooks/run_bandit.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: xenon-complexity
        name: Xenon complexity budget (manual)
        entry: python scripts/hooks/run_xenon.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: vulture-deadcode
        name: Vulture dead code scan (manual)
        entry: python scripts/hooks/run_vulture.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-vulnerability-scan
        name: Trivy fs scan (manual)
        entry: python scripts/hooks/run_trivy_vuln.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-sbom
        name: Trivy SBOM (manual)
        entry: python scripts/hooks/run_trivy_sbom.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-server
        name: Podman server image smoke test
        entry: python scripts/hooks/podman_smoke_server.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-client
        name: Podman client image smoke test
        entry: python scripts/hooks/podman_smoke_client.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]

Locale
  server/locales/sr/monopoly.ftl
Due: check-locales

Added chess game from v10 (in beta). Cleaned up code for legal moves. Added several new options. Instead of playing random moves, bots have a basic algorithm.
  server/games/__init__.py
  server/games/chess/__init__.py
  server/games/chess/bot.py
  server/games/chess/game.py
  server/locales/en/chess.ftl
  server/tests/test_chess.py
Due: check-locales, uv-ruff-critical

Chess locale
  server/locales/sr/chess.ftl
Due: check-locales

Locale
  server/locales/sr/chess.ftl
  server/locales/sr/games.ftl
  server/locales/sr/main.ftl
Due: check-locales

Locale
  server/locales/sr/main.ftl
Due: check-locales

added symlink to allow web client to playy sounds out of the box
  clients/web/sounds
Due: none

Made admin approvals for new players a server wide option
  server/auth/auth.py
  server/config.example.toml
  server/core/server.py
Due: uv-ruff-critical

Show match scores on backgammon end screen
  server/games/backgammon/game.py
  server/locales/en/backgammon.ftl
Due: check-locales, uv-ruff-critical

Adds rules for the game of Backgammon.
  server/documents/shared/backgammon_rules/_metadata.json
  server/documents/shared/backgammon_rules/en.md
Due: none

Client: add grid edge navigation and Ctrl+Arrow passthrough
  clients/desktop/ui/menu_list.py
  clients/web/keybinds.js
Due: uv-ruff-critical

Fix virtual bots test, add chess locale stubs, update backgammon rules
  server/documents/shared/backgammon_rules/en.md
  server/locales/ar/chess.ftl
  server/locales/cs/chess.ftl
  server/locales/de/chess.ftl
  server/locales/es/chess.ftl
  server/locales/fa/chess.ftl
  server/locales/fr/chess.ftl
  server/locales/hi/chess.ftl
  server/locales/hr/chess.ftl
  server/locales/hu/chess.ftl
  server/locales/id/chess.ftl
  server/locales/it/chess.ftl
  server/locales/ja/chess.ftl
  server/locales/ko/chess.ftl
  server/locales/mn/chess.ftl
  server/locales/nl/chess.ftl
  server/locales/pl/chess.ftl
  server/locales/pt/chess.ftl
  server/locales/ro/chess.ftl
  server/locales/ru/chess.ftl
  server/locales/sk/chess.ftl
  server/locales/sl/chess.ftl
  server/locales/sr/chess.ftl
  server/locales/sv/chess.ftl
  server/locales/th/chess.ftl
  server/locales/tr/chess.ftl
  server/locales/uk/chess.ftl
  server/locales/vi/chess.ftl
  server/locales/zh/chess.ftl
  server/locales/zu/chess.ftl
  server/tests/test_virtual_bots.py
Due: check-locales, uv-ruff-critical

moved brief announcements into a display category
  server/core/users/preferences.py
  server/locales/en/main.ftl
  server/tests/test_preferences.py
Due: check-locales, uv-ruff-critical

add prestart validation checks and clipboard copy to the CLI
  server/cli.py
  server/pyproject.toml
  server/uv.lock
Due: uv-ruff-critical

Pusoy Dos: added confirm to pass. This can be toggled with the new 'confirm destructive actions' option in the gameplay category
  server/core/users/preferences.py
  server/core/users/test_user.py
  server/games/pusoydos/game.py
  server/locales/en/main.ftl
  server/locales/en/pusoydos.ftl
  server/tests/test_pusoydos.py
Due: check-locales, uv-ruff-critical

Add Senet move generation and application
  server/games/senet/moves.py
Due: uv-ruff-critical

Add Senet game class and register it
  server/games/__init__.py
  server/games/senet/__init__.py
  server/games/senet/game.py
Due: uv-ruff-critical

Added Rainbow game
  clients/desktop/sounds/game_rainbow/activated.ogg
  clients/desktop/sounds/game_rainbow/birds.ogg
  clients/desktop/sounds/game_rainbow/border.ogg
  clients/desktop/sounds/game_rainbow/limit.ogg
  clients/desktop/sounds/game_rainbow/rain.ogg
  clients/desktop/sounds/game_rainbow/rainbow.ogg
  clients/desktop/sounds/game_rainbow/warning.ogg
  server/games/__init__.py
  server/games/rainbow/__init__.py
  server/games/rainbow/game.py
  server/locales/en/rainbow.ftl
  server/locales/sr/rainbow.ftl
  server/tests/test_rainbow.py
Due: check-locales, uv-ruff-critical

majorly refactor the client's login experience and make everything a lot clearer
  clients/desktop/pyproject.toml
  clients/desktop/tests/test_main_window_startup.py
  clients/desktop/tests/test_ui_dialogs.py
  clients/desktop/ui/enhance_wx/tree_selection.py
  clients/desktop/ui/login_dialog.py
  clients/desktop/ui/registration_dialog.py
  clients/desktop/ui/server_manager.py
  clients/desktop/uv.lock
Due: uv-ruff-critical

Update sr chess locale
  server/locales/sr/chess.ftl
Due: check-locales

Fix Bug 2 (Medium): _handle_register doesn't handle block_new_accounts
  server/core/server.py
Due: uv-ruff-critical

Dispatch markdown viewer on explicit content_format field instead of read_only+multiline heuristic
  clients/desktop/packet_schema.json
  clients/desktop/ui/main_window.py
Due: uv-ruff-critical, packet-schema-sync

Harden document permissions and visibility
  server/core/documents/browsing.py
  server/core/documents/manager.py
  server/core/documents/transcriber_role.py
  server/core/server.py
  server/tests/test_document_manager.py
  server/tests/test_server_documents_security.py
Due: uv-ruff-critical

Fix transient submenu position memory
  server/game_utils/event_handling_mixin.py
  server/game_utils/menu_management_mixin.py
  server/game_utils/options.py
  server/tests/test_game_utils_options.py
Due: uv-ruff-critical

Clear transient displays before end screens
  server/game_utils/game_result_mixin.py
  server/tests/test_event_handling_mixin.py
Due: uv-ruff-critical

Run Claude review on fork PRs via pull_request_target
  .github/workflows/claude-code-review.yml
Due: none

test(humanitycards): add 52 tests covering full game flow
  server/tests/test_humanitycards.py
Due: uv-ruff-critical

refactor(humanitycards): remove duplicate view_scores action
  server/games/humanitycards/game.py
  server/tests/test_humanitycards.py
Due: uv-ruff-critical

Extract CAH bot logic to bot.py, matching pattern used by farkle/crazyeights
  server/games/humanitycards/bot.py
  server/games/humanitycards/game.py
Due: uv-ruff-critical

Remove redundant ADD_ATTR logic from DOMPurify config
  clients/web/ui/markdown_viewer.js
Due: none

Improve markdown viewer dialog a11y
  clients/web/index.html
  clients/web/ui/markdown_viewer.js
Due: none

Add fallback message for empty markdown documents
  clients/desktop/ui/main_window.py
  clients/web/app.js
Due: uv-ruff-critical

Remove dead Fluent entry for hidden scoresheet picker action
  server/games/yahtzee/game.py
  server/locales/en/yahtzee.ftl
Due: check-locales, uv-ruff-critical

Add tests for Yahtzee scoresheet picker, spectator, and Back paths
  server/tests/test_yahtzee_scoresheet_select.py
Due: uv-ruff-critical
