Repository nidza07/PlayPalace11: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-packet-schema, check-locales, uv-ruff-critical, packet-schema-sync

.pre-commit-config.yaml:

ci:
  skip: []
  autoupdate_schedule: quarterly

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: uv-lock
        name: uv lock (server)
        files: ^server/pyproject\.toml$
        args: [--project, server]
      - id: uv-lock
        name: uv lock (desktop client)
        files: ^clients/desktop/pyproject\.toml$
        args: [--project, clients/desktop]

  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.4.0
    hooks:
      - id: sync-with-uv
        name: sync-with-uv (server)
        args: [--uv-lock, server/uv.lock]
      - id: sync-with-uv
        name: sync-with-uv (client)
        args: [--uv-lock, client/uv.lock]

  - repo: local
    hooks:
      - id: regen-packet-schema
        name: Regenerate packet schemas (uv run)
        entry: python scripts/hooks/regen_packet_schema.py
        language: python
        pass_filenames: false
        files: ^server/network/packet_models\.py$
      - id: check-locales
        name: Locale completeness check
        entry: python server/tools/check_locales.py
        language: python
        pass_filenames: false
        files: ^server/locales/.*\.ftl$
      - id: uv-ruff-critical
        name: Ruff (E9,F63,F7 via uvx)
        entry: python scripts/hooks/run_ruff.py
        language: python
        types: [python]
        pass_filenames: false
      - id: packet-schema-sync
        name: Packet schema parity check
        entry: python scripts/hooks/check_packet_schema_sync.py
        language: python
        pass_filenames: false
        files: ^(server/packet_schema\.json|clients/desktop/packet_schema\.json)
      - id: hadolint-containerfiles
        name: Hadolint (Containerfiles via podman)
        entry: python scripts/hooks/run_hadolint.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: bandit-security
        name: Bandit security scan (manual)
        entry: python scripts/hooks/run_bandit.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: xenon-complexity
        name: Xenon complexity budget (manual)
        entry: python scripts/hooks/run_xenon.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: vulture-deadcode
        name: Vulture dead code scan (manual)
        entry: python scripts/hooks/run_vulture.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-vulnerability-scan
        name: Trivy fs scan (manual)
        entry: python scripts/hooks/run_trivy_vuln.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: trivy-sbom
        name: Trivy SBOM (manual)
        entry: python scripts/hooks/run_trivy_sbom.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-server
        name: Podman server image smoke test
        entry: python scripts/hooks/podman_smoke_server.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]
      - id: podman-smoke-client
        name: Podman client image smoke test
        entry: python scripts/hooks/podman_smoke_client.py
        language: python
        pass_filenames: false
        stages: [manual, pre-push]

Wire wave-1 hardware audio events for special boards
  server/games/monopoly/board_rules/star_wars_mandalorian.py
  server/games/monopoly/board_rules_registry.py
  server/games/monopoly/game.py
  server/games/monopoly/hardware_emulation.py
  server/tests/test_monopoly_board_parity_manifest.py
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_wave_special_audio_star_wars.py
Due: uv-ruff-critical

Promote Marvel and Disney core boards with board-specific cards
  server/games/monopoly/board_parity.py
  server/games/monopoly/board_rules/disney_princesses.py
  server/games/monopoly/board_rules/marvel_avengers.py
  server/games/monopoly/board_rules_registry.py
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_wave_special_cards_marvel_disney.py
Due: uv-ruff-critical

Refactor TwentyOne package and localize rendering
  docs/design/games/twentyone.md
  server/games/__init__.py
  server/games/twentyone/__init__.py
  server/games/twentyone/bot.py
  server/games/twentyone/game.py
  server/tests/test_twentyone.py
Due: uv-ruff-critical

Promote Star Wars family boards to board-specific card parity
  docs/plans/2026-02-26-monopoly-special-boards-parity-matrix.md
  server/games/monopoly/board_parity.py
  server/games/monopoly/board_rules/disney_star_wars_dark_side.py
  server/games/monopoly/board_rules/star_wars_40th.py
  server/games/monopoly/board_rules/star_wars_boba_fett.py
  server/games/monopoly/board_rules/star_wars_classic_edition.py
  server/games/monopoly/board_rules/star_wars_legacy.py
  server/games/monopoly/board_rules/star_wars_light_side.py
  server/games/monopoly/board_rules/star_wars_mandalorian_s2.py
  server/games/monopoly/board_rules/star_wars_saga.py
  server/games/monopoly/board_rules/star_wars_solo.py
  server/games/monopoly/board_rules/star_wars_the_child.py
  server/games/monopoly/board_rules_registry.py
  server/games/monopoly/catalog/special_board_anchor_index.json
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_wave3_rule_pack_modules.py
  server/tests/test_monopoly_wave_special_cards_star_wars_family.py
Due: uv-ruff-critical

Promote remaining special boards to board-specific card parity
  docs/plans/2026-02-26-monopoly-special-boards-parity-matrix.md
  server/games/monopoly/board_parity.py
  server/games/monopoly/board_rules/animal_crossing.py
  server/games/monopoly/board_rules/barbie.py
  server/games/monopoly/board_rules/black_panther.py
  server/games/monopoly/board_rules/deadpool_collectors.py
  server/games/monopoly/board_rules/fortnite_collectors.py
  server/games/monopoly/board_rules/fortnite_flip.py
  server/games/monopoly/board_rules/game_of_thrones.py
  server/games/monopoly/board_rules/ghostbusters.py
  server/games/monopoly/board_rules/jurassic_park.py
  server/games/monopoly/board_rules/lord_of_the_rings.py
  server/games/monopoly/board_rules/lord_of_the_rings_trilogy.py
  server/games/monopoly/board_rules/pokemon.py
  server/games/monopoly/board_rules/stranger_things_collectors.py
  server/games/monopoly/board_rules/stranger_things_netflix.py
  server/games/monopoly/board_rules/toy_story.py
  server/games/monopoly/board_rules/transformers.py
  server/games/monopoly/board_rules/transformers_beast_wars.py
  server/games/monopoly/board_rules_registry.py
  server/games/monopoly/catalog/special_board_anchor_index.json
  server/tests/test_monopoly_board_rules_registry.py
  server/tests/test_monopoly_wave_special_cards_remaining_backlog.py
Due: uv-ruff-critical

Add manual rule schema models for Monopoly boards
  server/games/monopoly/manual_rules/models.py
  server/tests/test_monopoly_manual_rule_models.py
Due: uv-ruff-critical

Drive Monopoly board spaces from manual board data
  server/games/monopoly/game.py
  server/tests/test_monopoly_manual_rule_board_layout.py
Due: uv-ruff-critical

Add manual-cited Mario board rule data artifacts
  server/games/monopoly/manual_rules/data/junior_super_mario.json
  server/games/monopoly/manual_rules/data/mario_celebration.json
  server/games/monopoly/manual_rules/data/mario_collectors.json
  server/games/monopoly/manual_rules/data/mario_kart.json
  server/games/monopoly/manual_rules/data/mario_movie.json
  server/tests/test_monopoly_manual_core_promotion_gate.py
  server/tests/test_monopoly_manual_rule_runtime_resolution.py
  server/tests/test_monopoly_mario_manual_rule_data.py
Due: uv-ruff-critical

Promote all special boards to manual-core or near-full parity
  docs/plans/2026-02-26-monopoly-special-boards-parity-matrix.md
  server/games/monopoly/board_parity.py
  server/games/monopoly/catalog/special_board_anchor_index.json
  server/tests/test_monopoly_special_board_manual_core_conformance.py
Due: uv-ruff-critical

Add opt-in OCR generation to manual extraction tool
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
  server/scripts/monopoly/extract_manual_text.py
Due: uv-ruff-critical

Seed initial Star Wars literal manual card text entries
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
  server/games/monopoly/manual_rules/data/star_wars_classic_edition.json
  server/games/monopoly/manual_rules/data/star_wars_legacy.json
  server/tests/test_monopoly_star_wars_manual_rule_payload.py
Due: uv-ruff-critical

Seed disney the edition literal card text from manual fallback source
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
  server/games/monopoly/manual_rules/data/disney_the_edition.json
  server/tests/test_monopoly_disney_marvel_manual_rule_payload.py
Due: uv-ruff-critical

Update monopoly plans for full manual_core promotion state
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
  docs/plans/2026-02-26-monopoly-special-boards-parity-matrix.md
  docs/plans/2026-02-27-monopoly-manual-core-overnight-checklist.md
Due: none

Fix final status doc head metadata
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
Due: none

Revert "Allow blackjack bet changes between rounds"
  server/games/blackjack/game.py
  server/tests/test_blackjack.py
Due: uv-ruff-critical

Resolve final Marvel native card slots
  docs/plans/2026-02-26-monopoly-special-boards-final-part-status.md
  docs/plans/2026-02-27-monopoly-manual-core-overnight-checklist.md
  server/games/monopoly/game.py
  server/games/monopoly/manual_rules/data/marvel_avengers_legacy.json
  server/games/monopoly/manual_rules/data/marvel_flip.json
  server/tests/test_monopoly_disney_marvel_manual_rule_payload.py
  server/tests/test_monopoly_hybrid_lane_exception_contract.py
Due: uv-ruff-critical

Locale
  server/locales/sr/main.ftl
Due: check-locales

The standardized yes / no menu now speaks the question prompt when initial focus is not the question label. Removed speak packets from callers that called this menu to prevent duplicate packets.
  server/core/administration.py
  server/core/server.py
  server/core/ui/common_flows.py
Due: uv-ruff-critical

Refactor Threes to use RoundBasedGameMixin, migrating current_round to base round field
  server/games/threes/game.py
  server/tests/test_threes.py
Due: uv-ruff-critical

Fix Snakes & Ladders tests: rename _handle_event to on_game_event
  server/tests/test_snakesandladders.py
Due: uv-ruff-critical

Refactor Monopoly on_start into staged helpers
  server/games/monopoly/game.py
Due: uv-ruff-critical

Refactor Monopoly space resolution into helpers
  server/games/monopoly/game.py
Due: uv-ruff-critical

Added a draft document for cards agains humanity judging options.
  docs/design/games/cah_judging_options.txt
Due: none

Add web client reconnect retry window
  clients/web/README.md
  clients/web/app.js
  clients/web/version.js
Due: none

Fixed monopoly hardware sound path.
  clients/desktop/sounds/game_monopoly_hardware/README.md
  clients/desktop/sounds/game_monopoly_hardware/junior_coin_sound_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/jurassic_park_gate_roar_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/jurassic_park_gate_theme_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/mario_question_block_bowser_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/mario_question_block_coin_ping_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/mario_question_block_game_over_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/mario_question_block_power_up_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/mario_question_block_sound_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/.gitkeep
  clients/desktop/sounds/game_monopoly_hardware/original/junior_coin_sound_powerup.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/jurassic_park_gate_roar.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/jurassic_park_gate_theme.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/mario_question_block_bowser.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/mario_question_block_coin_ping.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/mario_question_block_game_over.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/mario_question_block_power_up.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/mario_question_block_sound.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/play_theme.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/pride_rock_celebration.ogg
  clients/desktop/sounds/game_monopoly_hardware/original/star_wars_theme.ogg
  clients/desktop/sounds/game_monopoly_hardware/play_theme_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/pride_rock_celebration_placeholder.ogg
  clients/desktop/sounds/game_monopoly_hardware/star_wars_theme_placeholder.ogg
Due: none

Monopoly: Unfinished locale
  server/locales/sr/monopoly.ftl
Due: check-locales

Require bet entry before first blackjack hand
  server/games/blackjack/game.py
  server/tests/test_blackjack.py
Due: uv-ruff-critical

Wait for between-round bets with timer fallback
  server/games/blackjack/game.py
  server/tests/test_blackjack.py
Due: uv-ruff-critical

Refine Monopoly actions and movement pacing
  server/game_utils/game_sound_mixin.py
  server/games/monopoly/actions/guards.py
  server/games/monopoly/actions/handlers.py
  server/games/monopoly/game.py
  server/games/snakesandladders/game.py
  server/locales/en/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/tests/test_monopoly.py
Due: check-locales, uv-ruff-critical

Polish Monopoly property menus and cash shortcuts
  server/game_utils/event_handling_mixin.py
  server/games/monopoly/actions/guards.py
  server/games/monopoly/actions/handlers.py
  server/games/monopoly/actions/options.py
  server/games/monopoly/game.py
  server/locales/en/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/tests/test_monopoly.py
Due: check-locales, uv-ruff-critical

Complete Monopoly localization and classic rules
  server/games/monopoly/actions/handlers.py
  server/games/monopoly/actions/options.py
  server/games/monopoly/game.py
  server/locales/en/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/tests/test_monopoly.py
Due: check-locales, uv-ruff-critical

Fix Monopoly stock card amount text
  server/games/monopoly/game.py
  server/tests/test_monopoly.py
Due: uv-ruff-critical

Localize Monopoly personalized transcripts
  server/games/monopoly/actions/handlers.py
  server/games/monopoly/game.py
  server/locales/ar/monopoly.ftl
  server/locales/cs/monopoly.ftl
  server/locales/de/monopoly.ftl
  server/locales/en/monopoly.ftl
  server/locales/es/monopoly.ftl
  server/locales/fa/monopoly.ftl
  server/locales/fr/monopoly.ftl
  server/locales/hi/monopoly.ftl
  server/locales/hr/monopoly.ftl
  server/locales/hu/monopoly.ftl
  server/locales/id/monopoly.ftl
  server/locales/it/monopoly.ftl
  server/locales/ja/monopoly.ftl
  server/locales/ko/monopoly.ftl
  server/locales/mn/monopoly.ftl
  server/locales/nl/monopoly.ftl
  server/locales/pl/monopoly.ftl
  server/locales/pt/monopoly.ftl
  server/locales/ro/monopoly.ftl
  server/locales/ru/monopoly.ftl
  server/locales/sk/monopoly.ftl
  server/locales/sl/monopoly.ftl
  server/locales/sr/monopoly.ftl
  server/locales/sv/monopoly.ftl
  server/locales/th/monopoly.ftl
  server/locales/tr/monopoly.ftl
  server/locales/uk/monopoly.ftl
  server/locales/vi/monopoly.ftl
  server/locales/zh/monopoly.ftl
  server/locales/zu/monopoly.ftl
  server/tests/test_monopoly.py
Due: check-locales, uv-ruff-critical

Remove Monopoly transcript regression tests
  server/tests/test_monopoly.py
Due: uv-ruff-critical

Normalize Monopoly standard board names
  server/games/monopoly/game.py
  server/locales/en/monopoly.ftl
Due: check-locales, uv-ruff-critical

Add document editor dialog and editing/translation flows
  clients/desktop/network_manager.py
  clients/desktop/packet_schema.json
  clients/desktop/ui/document_editor_dialog.py
  clients/desktop/ui/main_window.py
  clients/web/app.js
  clients/web/index.html
  clients/web/packet_schema.json
  clients/web/ui/document_editor.js
  docs/design/plans/documents_system_implementation.md
  server/core/documents/browsing.py
  server/core/documents/manager.py
  server/core/server.py
  server/core/users/network_user.py
  server/locales/en/main.ftl
  server/network/packet_models.py
  server/packet_schema.json
Due: regen-packet-schema, check-locales, uv-ruff-critical, packet-schema-sync
